<include file="Public/header" title="管理员管理" css="__STATIC__/css/base.css" />
<div id="pageTitle">
    <div class="page-title">管理员管理</div>
</div>
<div id="pageWrapper">
    <div id="searchCnr">
        <div class="pull-right">
            <div class="btn btn-laia" @click="showEdit(-1)"  >添加</div>
            <div class="btn btn-default" @click="delBanner()">删除</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>管理员ID</th>
                    <th>用户名</th>
                    <th>注册时间</th>
                    <th>最后登录时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(idx, obj) in tableData">
                    <td>
                        <div class="laia-chk">
                            <input type="checkbox" :value="obj.id" :id="obj.id" v-model="checkedArr">
                            <label :for="obj.id"></label>
                        </div>
                    </td>
                    <td>{{obj.id}}</td>
                    <td>{{obj.username}}</td>
                    <td>{{obj.regTime}}</td>
                    <td>
                        {{obj.lastLoginTime}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <ul v-show="showPageNav" class="pagination">
            <li :class="curPage < 2 ? 'disabled' : ''" @click="pageNav(curPage-1)">
                <a href="javascript:;">上一页</a>
            </li>
            <li v-for="obj in pageShowData" :class="curPage == obj.num ? 'active' : ''" @click="pageNav(obj.num)">
                <a href="javascript:;">{{obj.num}}</a>
            </li>
            <li :class="curPage < pageAllData.length ? '' : 'disabled'" @click="pageNav(curPage+1)">
                <a href="javascript:;">下一页</a>
            </li>
        </ul>

        <div id="pageCount" class="btn bg-laia">
            <span>第 {{curPage}} 页 | </span>
            <span>共 {{pageCount}} 页</span>
        </div>
    </div>
    <div class="laia-mask" style='display: none' v-show='editVisible'>
        <div class="laia-edit-cnr">
            <div class="edit-icon"></div>
            <div class="edit-cnt">
                <div class="cnt-body">
                    <form id="editform" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" name="username" class="form-control" v-model="editobj.username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password"  class="form-control" v-model="editobj.password" placeholder="密码">
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div class="pull-right">
                        <div class="btn btn-laia btn-sm" @click="saveData">保存</div>
                        <div class="btn btn-default  btn-sm" @click="hideEdit">关闭</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" js="__PUBLIC__/js/uploadPreview.js,__PUBLIC__/js/vue.min.js,__PUBLIC__/js/jquery.form.js,__STATIC__/js/sys/index.js" />