<include file="Public/header" title="基本资料设置" css="__STATIC__/css/base.css" />
<div id="pageTitle">
    <div class="page-title">基本资料设置</div>
    <div class="pull-right btn btn-laia" @click="saveEdit">保存</div>
</div>
<div id="pageWrapper">
    <form id="editform" method="post" enctype="multipart/form-data" class="form-horizontal col-md-6 col-sm-12">
        <div class="form-group">
            <label  class="col-sm-2 control-label">公司名称</label>
            <div class="col-sm-10">
                <input type="text" name="company" class="form-control" v-model="info.company" placeholder="公司名称">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-10">
                <input type="text" name="QQ" class="form-control" v-model="info.QQ" placeholder="QQ">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">手机</label>
            <div class="col-sm-10">
                <input type="text" name="mobile" class="form-control" v-model="info.mobile" placeholder="手机">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">座机</label>
            <div class="col-sm-10">
                <input type="text" name="tell" class="form-control" v-model="info.tell" placeholder="座机">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">email</label>
            <div class="col-sm-10">
                <input type="text" name="email" class="form-control" v-model="info.email" placeholder="email">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">地址</label>
            <div class="col-sm-10">
                <input type="text" name="address" class="form-control" v-model="info.address" placeholder="地址">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">关于我们</label>
            <div class="col-sm-10">
                <textarea rows="8" name="about" class="form-control" v-model="info.about"  placeholder="关于我们"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">二维码</label>
            <div class="col-sm-10">
                <img :src="info.qr" id="qrView" style="cursor: pointer;" width="200">
                <input type="file" hidden="hidden" name="qr" id="qr">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label">顶部图片</label>
            <div class="col-sm-10">
                <img :src="info.headrPic" id="headrPicView" style="cursor: pointer;" width="100%">
                <input type="file" hidden="hidden" name="headrPic" id="headrPic">
            </div>
        </div>
        <div class="form-group">
            <div class="pull-right btn btn-laia" @click="saveEdit">保存</div>
        </div>
    </form>
    <div class="clearfix"></div>
</div>
<include file="Public/footer" js="__PUBLIC__/js/uploadPreview.js,__PUBLIC__/js/vue.min.js,__PUBLIC__/js/jquery.form.js,__STATIC__/js/index/index.js" />