<include file="Public/header" title="长安汽车-盐城万达东台分公司" css="__STATIC__/css/index.css" />
<a href="javascript:void(0);" class="v2-banner__dz" style="display:block;"><img src="{$setting.headrPic}"></a>
<article class="sidebar-v2__article">
    <div class="met_article">
        <div class="met_editor met_module1">
            <div><div>
                    <div class="table-responsive"><table border="0" cellpadding="0" cellspacing="0" style="width: 730px;" class="table">
                            <tbody>
                                <tr>
                                    <td v-html="about" class="text-big">
                                    </td>
                                    <td>
                                        <img src="http://7xnjsm.com1.z0.glb.clouddn.com/address.jpg" style="width: 360px; height: 358px; float: left;"></td>
                                </tr>
                            </tbody>
                        </table></div>
                </div>
                <div>
                    &nbsp;</div>
                <div>
                    &nbsp;</div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</article>
<include file="Public/footer" js="__STATIC__/js/about.js" />