<include file="Public/header" title="长安汽车-盐城万达东台分公司" css="__STATIC__/css/index.css" />
<a href="javascript:void(0);" class="v2-banner__dz" style="display:block;"><img src="{$setting.headrPic}"></a>
<article class="sidebar-v2__article">
    <div class="met_article">
        <div class="met_editor met_module1">
            <div>
                <p style="text-align: left;"><img src="http://7xnjsm.com1.z0.glb.clouddn.com/map.png" style="width: 530px; margin-right: 20px; height: 265px; float: left;" width="530" height="265" border="0" vspace="0">
                </p>
                <p style="line-height:32px; white-space: normal;">
                    <span style="color: rgb(128, 0, 0); font-family: 黑体; font-size: 16px; line-height: 22.8571434020996px;">{$setting.company}</span>
                </p>
                <p style="line-height:32px; white-space: normal;">
                    <span style="color: rgb(128, 0, 0); font-family: 黑体; font-size: 16px; line-height: 22.8571434020996px;"></span>
                    <span style="font-weight: 700;">电话：</span>{$setting.mobile}
                </p>
                <p style="line-height:32px; white-space: normal;">
                    <span style="font-weight: 700; line-height: 2;">QQ：</span><span style="line-height: 2;">{$setting.QQ}</span>
                </p>
                <p style="line-height:32px; white-space: normal;">
                    <span style="font-weight: 700;">地址：</span>{$setting.address}
                </p>

                <p style="line-height:32px; white-space: normal;">
                    <span style="font-weight: 700;">网站：</span>
                    <a href="http://www.91feishixu.com/">www.91feishixu.com</a>
                </p>
                <p style="line-height:32px; white-space: normal;">
                    <span style="color: rgb(128, 0, 0); font-family: 黑体; font-size: 16px; line-height: 22.8571434020996px;"></span>
                    <span style="font-weight: 700; line-height: 18.1818180084229px;">邮箱：</span>
                    <span style="line-height: 18.1818180084229px;">{$setting.email}</span>
                </p>
                <p><br></p>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</article>
<include file="Public/footer" js="__STATIC__/js/tell.js" />