<include file="Public/header" title="报名信息" css="__STATIC__/css/act.css"/>

<div id="headCnr" style="margin-top: 40px;margin-bottom: 100px;">
    <div class="head-cover" :style="{backgroundImage:bgImg(dataObj.url)}"></div>
    <div class="head-person">
        <span>联系人</span>
        <input id="name" type="text" @focus='gotoCurLocation($event.currentTarget)' placeholder="请填写您的姓名">
    </div>
    <div class="head-mobile">
        <span>电话</span>
        <input id="mobile" type="text"  @focus='gotoCurLocation($event.currentTarget)' placeholder="请填写您的联系电话">
    </div>
    <div class="head-verify">
        <span>验证码</span>
        <a id="verifyImg" href="javascript:void(0)"><img class="verify"  alt="点击刷新"></a>
        <input id="verify" type="text" @focus='gotoCurLocation($event.currentTarget)' placeholder="填写验证码">
        <div class="clearfix"></div>
    </div>
    <div class="head-remark">*点击验证码刷新</div>
</div>
<div id="footCnr" @click="join">确定预约</div>
<include file="Public/footer" js="__STATIC__/js/addact.js"/>
<script>
    //$('img').css("src",src+"?lon="+LAIA.lon+"&lat="+LAIA.lat);
    $(function () {
        var verify = function () {
            var src = "{:U('Index/verify')}";
            var random = Math.floor(Math.random() * (1000 + 1));
            $('.verify').attr("src", src + "?lon=" + LAIA.lon + "&lat=" + LAIA.lat + "&random=" + random);
        }();
        $(".verify").click(function () {
            var src = "{:U('Index/verify')}";
            var random = Math.floor(Math.random() * (1000 + 1));
            $(this).attr("src", src + "?lon=" + LAIA.lon + "&lat=" + LAIA.lat + "&random=" + random);
        });
    })
</script>
