<include file="Public/header" title="景区主页" css=""/>
<a href="home/index/sce?lon=109.770938&lat=18.319929">景区主页</a>
<a href="home/index/faq">问答</a>
<a href="home/index/video_list">视频</a>
<a href="home/index/weather">天气</a>
<a href="home/index/shake">摇一摇</a>
<a href="home/index/album">相册</a>
<a href="home/index/rcmd_list">行程列表</a>
<a href="home/index/act_list">活动列表</a>
<a href="home/index/nearby_place">附近</a>
<a href="home/index/ticket">奖券</a>
<include file="Public/footer" js="__STATIC__/js/sce.js"/>