<include file="Public/header" title="附近" css="__STATIC__/css/iscroll.css,__STATIC__/css/nearby_search.css"/>
<div id="scroller">
  <div id="pullDown">
    <span class="pull-down-icon"></span>
    <span class="pull-down-label">下拉刷新</span>
  </div>
  <div id="bodyCnr">
    <div v-if="isPlace" class="sgl-cate">
      <div class="cate-title">
        <div class="cate-icon icon-place"></div>
        <div>景点</div>
      </div>
      <div class="sgl-cnr" v-for="(idx,obj) in dataArr" @click="toPlace(obj.maplat,obj.maplon)">
        <div class="cover" :style="{backgroundImage: bgImg(obj.mapBackgroudPic[0])}"></div>
        <div class="sgl-cnt">
          <div class="title" v-text="obj.name"></div>
          <div>
            <span class="color-num" v-text="obj.PicNum"></span>
            图片，
            <span class="color-num" v-text="obj.videoNum"></span>
            视频
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div v-if="!isPlace" class="sgl-cate">
      <div v-if="searchType=='0'" class="cate-title">
        <div class="cate-icon icon-food"></div>
        <div>美食</div>
      </div>
      <div v-if="searchType=='1'" class="cate-title">
        <div class="cate-icon icon-hotel"></div>
        <div>住宿</div>
      </div>
      <div v-if="searchType=='2'" class="cate-title">
        <div class="cate-icon icon-shop"></div>
        <div>购物</div>
      </div>
      <div v-if="searchType=='3'" class="cate-title">
        <div class="cate-icon icon-fun"></div>
        <div>娱乐</div>
      </div>
      <div class="sgl-cnr" v-for="(idx,obj) in dataArr" @click="toBiz(obj.id)">
        <div class="cover" :style="{backgroundImage: bgImg(obj.backPic[0])}"></div>
        <div class="sgl-cnt">
          <div class="title" v-text="obj.name"></div>
          <div>
            <span class="color-num" v-text="obj.VoucherNum"></span>
            优惠
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div id="pullUp">
    <span class="pull-up-icon"></span>
    <span class="pull-up-label">上拉加载更多</span>
  </div>
</div>
<include file="Public/footer" js="__STATIC__/js/iscroll.js,__STATIC__/js/nearby_search_more.js"/>