<include file="Public/header" title="摇一摇" css="__STATIC__/css/shake.css" nav="false"/>
<div id="back"></div>
<div id="shadow"></div>
<div id="cat"></div>
<div id="biu">
  <div id="biuCnt">
    <div id="mainTop">
      <div id="mainTopCnt">
        <div id="name">
          <div id="biz"></div>
          <div  id="voucherName"></div>
        </div>
        <div id="per">
          <div class="pull-left"  id="zk"></div>
          <div class="pull-left" id="cn">折</div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div id="mainMiddle">
      <div id="img" style="background-image: url(//192.168.0.90/bg.jpg);"></div>
    </div>
    <div id="mainBottom"></div>
    <div class="close-btn"></div>
    <div id="mask"></div>
  </div>
</div>
<div id="woo">
  <div id="wooCnt">
    <div class="close-btn"></div>
  </div>
</div>
<include file="Public/footer" js="__STATIC__/js/shake.js"/>