* {
    box-sizing: border-box;
}
html {
    font-family: 'Microsoft YaHei';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    color: #3B3D4A;
    font-size: 1rem;

}
.clearfix {
    clear: both;
}

.form-control {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid #3B3D4A;
    color: #3B3D4A;
    background: none;
}
.navbar-nav li {
    width: 50%;
    float: left;
    text-align: center;
}
.alert {
    position: fixed;
    top: 10rem;
    left: 10%;
    width: 80%;
    padding: 1rem;
    text-align: center;
    color: #333;
    background-color: rgba(255,255,255,0.9);
    word-break: break-all;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    z-index: 9999;
}
.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 0 1rem;
    float: left;
}
.col-12 {
    width: 100%;
}
.col-11 {
    width: 91.66666667%;
}
.col-10 {
    width: 83.33333333%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66666667%;
}
.col-7 {
    width: 58.33333333%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66666667%;
}
.col-4 {
    width: 33.33333333%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66666667%;
}
.col-1 {
    width: 8.33333333%;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.page-nav {
    width: 50%;
    float: left;
}
.page-nav .btn {
    margin: 0 auto;
}
.pad-0 {
    padding: 0;
}
.pad-10 {
    padding: 1rem;
}
.pad-10-0 {
    padding: 1rem 0;
}
.pad-0-10 {
    padding: 0 1rem;
}
.pad-lt-0 {
    padding-left: 0;
}
.mgn-10-0 {
    margin: 1rem 0;
}
.radius-cnr {
    border-radius: 1rem;
    width: 100%;
    height: 4rem;
    background-color: #3bc2b5;
    text-align: center;
    padding: 0.5rem 0;
}
.text-lg {
    font-size: 1.2rem;
}
.text-sm {
    font-size: 0.8rem;
}
.cover-cnr {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.2rem;
}
.cover-dsc {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2rem;
    width: 100%;
    padding: 0 0.5rem;
    color: #333;
    background-color: rgba(255,255,255,0.8);
    line-height: 2rem;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.avatar-cnr {
    height: 0;
    overflow: hidden;
    border-radius: 50%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.paddingbottom{
    padding-bottom:1rem;
}
.padtop{
    padding-top:1rem;
}
#toTop {
    position: fixed;
    bottom: 5rem;
    left: 1rem;
    color: #f0f0f0;
    width: 4rem;
    height: 4rem;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/top90101.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#close{

    float: right;
    margin-right: 1rem;
    width: 3rem;
    height: 2rem;
    background-image:url(http://7xnjsm.com1.z0.glb.clouddn.com/icon_guanbi.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.search{

    padding: 1rem 1rem;
    position: absolute;
    right: 10%;
    bottom: 0.2rem;
    margin-right: -1.9rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url(http://7xnjsm.com1.z0.glb.clouddn.com/icon_sousuo.png);
    z-index:99;
}
#openApp {
    position: fixed;
    bottom: 0;
    left: 0;
}
#openApp img {
    float: left;
    width: 100%;
}
#shareWrap {
    width: 100%;
    height: 0;
    padding-bottom: 21.6%;
}
#noticeCnr {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 99;
    top: 0;
    left: 0;
}

#ruleBtn {
    color: #000;
    float: right;
    line-height: 1rem;
    margin: -1rem 1rem 0 0;
    font-size: 12px
}
.sort-btn.active {
    border-bottom: 5px solid #3B3D4A;
    color: #F06810;
}
.crown {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    z-index: 3;
}
.poll-btn {
    padding: 1rem 3rem;
    position: absolute;
    right: 25%;
    bottom: 1rem;
    margin-right: -3rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../img/laia/poll.png);
}
#ruleCnr {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    color: #000;
}
#know{
    height: 0;
    width: 100%;
    padding-bottom: 15.72%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/know.png);
}
#ruleCnr * {
    font-size: large;
}
#ruleCnr .close {
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    float: right;
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-right: -1rem;
}
#qrCnr {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: rgba(0,0,0,0.8);
    color: #f0f0f0;
}
#qrCnr .close {
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    float: right;
}
#qrCnr img {
    width: 100%;
    margin-top: 1rem;
}
#bnr {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/banner901.jpg);
}
.clickPull{
    float: right;
    height: 2.5rem;
    width: 5rem;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/icon_toupiao.png);
}
.piao{
    float: right;
    margin-right: 0.5rem;
    padding-top: 3px;
}
#content{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/bj90101.jpg);
}
#jp {
    height: 0;
    width: 100%;
    padding-bottom: 138.56%;
    margin-bottom: 1rem;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/jp901.png);
}
#nr{
    height: 0;
    width: 100%;
    padding-bottom: 37.12%;
    margin-bottom: 1rem;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/nr901.png);
}
#bz{
    height: 0;
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 71.22%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/bz90101.png);
}

#join {
    height: 0;
    width: 60%;
    padding-bottom: 14%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://7xnjsm.com1.z0.glb.clouddn.com/join831.png);
    margin-top: 15px;
    margin-left: 15%;
}
#sortCnr {
    border-top: 1px solid #3B3D4A;

}
.sort-btn {
    float: left;
    height: 3rem;
    width: 50%;
    line-height: 3rem;
    text-align: center;
    background: #3B3D4A;
    border-bottom: 1px solid #3B3D4A;
    color: #f0f0f0;
}


.tbody{
    position: relative;
    background: #FFFAEC;
    padding-top: 1rem;
}
.hrstyle{
    margin-left: 1rem;
    margin-right: 1rem;
}
.addRightLine{
    border-right:1px  solid #3B3D4A
}
.setCenter{
    padding-left: 1rem;
}