input[placeholder],
[placeholder],
*[placeholder] {
    color: #c1c1c1;
}

#scroller {
    padding-bottom: 50px;
}
#searchCnr {
    margin: 0 10px;
    padding: 10px 40px 10px 0;
    border-bottom: 1px solid #ddd;
}

#searchBtn {
    position: absolute;
    line-height: 54px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 9;
}

#searchCnr .form-control {
    height: 34px;
    line-height: 24px;
    padding: 5px 10px;
    color: #333;
    background-color: #eee;
    border: none;
}

#sortCnr {
    margin: 10px 0;
    padding: 0 10px;
}

#sortCnr > div {
    float: left;
    width: 50%;
    line-height: 20px;
    text-align: center;
}

#sortCnr > div:first-child {
    border-right: 1px solid #eee;
}

#sortCnr > div.clearfix {
    float: none;
    width: 100%;
}

#sortCnr > div.active {
    color: #3bc2b5;
}

#bodyCnr {
    padding: 10px;
    margin-top: 10px;
    position: relative;
}

.sgl-cnr {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
}

.sgl-q,
.sgl-a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sgl-qa.active .sgl-q,
.sgl-qa.active .sgl-a {
    -webkit-line-clamp: 300;
}

.sgl-q {
    color: #333;
    font-size: 15px;
}

.sgl-a {
    margin: 5px 0;
    color: #999;
    font-size: 12px;
}

.sgl-act {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1;
    color: #999;
}

.sgl-act .like {
    float: right;
    padding-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(../../static/img/like.png);
}

.sgl-act .like.active {
    background-image: url(../../static/img/liked.png);
}

#footCnr {
    background-color: #ff8149;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 999;
}
#footCnr a{
    color: #fff;
}
#footCnr img{
    height: 18px;
    margin-right: 5px;
}
#headCnr {
    background: #fff;
    margin-top: 40px;
}
.ticketbak{
    width: 100%;

}
.ticketname{
    margin-top: 12px;
    padding: 0 10px;
    color: #333;
    font-size: 14px;
    padding-bottom: 13px;
}
.ticketprice{
    padding: 0 10px 12px 10px;
}
.sgl {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #eee;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    background: #fff;
}
.titledsc {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
    color: #666;
    font-weight: bold;
    border-left: 6px solid #4BDDCF;
    padding-left: 8px;
}
.rcmd-cover {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.rcmd-name{
    font-size: 16px;
    font-weight: bold;
}