<include file="Public/header" title="票务管理" css="__STATIC__/css/base.css" />
<div id="pageTitle">
  <div class="page-title">票务管理</div>
</div>
<div id="pageWrapper">
  <div id="searchCnr">
    <div class="col-md-2">
      <div class="input-group">
        <input id='keyWord' type="text" class="form-control" placeholder="搜索票务关键词" v-model="keyword" @change='searchFn'>
          <div class="input-group-addon bg-laia" @click="searchFn">
            <span class="glyphicon glyphicon-search" ></span>
          </div>
      </div>
    </div>
    <div class="col-md-2">
      <select class="form-control" v-model="selStatus" @change="saveKeyword">
        <option v-for="(idx,obj) in status" :value="obj.id" v-text="obj.val"></option>
      </select>
    </div>
    <div class="btn btn-default pull-right" @click="toInfo('')">创建票务</div>
  </div>
  <div class="clearfix"></div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>票务名称</th>
          <th>票务价格</th>
          <th>点击量</th>
          <th>咨询购买量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(idx, obj) in tableData">
          <td v-text="obj.name"></td>
          <td v-text="'￥'+obj.price+'/份'"></td>
          <td v-text="obj.clickNum"></td>
          <td v-text="obj.seekBuyNum"></td>
          <td>
            <div class="btn btn-link" @click="toInfo(obj.id)">编辑</div>

            <div class="btn btn-link" v-if="obj.state==1"  @click="downShelf(obj.id,obj.state)">下架</div>
            <div class="btn btn-link" v-if="obj.state==0"  @click="downShelf(obj.id,obj.state)">上架</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <ul v-show="showPageNav" class="pagination">
      <li :class="curPage < 2 ? 'disabled' : ''" @click="pageNav(curPage-1)">
        <a href="javascript:;">上一页</a>
      </li>
      <li v-for="obj in pageShowData" :class="curPage == obj.num ? 'active' : ''" @click="pageNav(obj.num)">
        <a href="javascript:;">{{obj.num}}</a>
      </li>
      <li :class="curPage < pageAllData.length ? '' : 'disabled'" @click="pageNav(curPage+1)">
        <a href="javascript:;">下一页</a>
      </li>
    </ul>

    <div id="pageCount" class="btn bg-laia">
      <span>第 {{curPage}} 页 | </span>
      <span>共 {{pageCount}} 页</span>
    </div>
  </div>
</div>
<include file="Public/footer" js="__PUBLIC__/js/vue.min.js,__STATIC__/js/ticket/ticketlist.js" />
