<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <title>videodetail</title>
        <link rel="icon" href="">
        <link rel="stylesheet" href="__STATIC__/css/active/videodetail.css">
    </head>
    <body>
        <div id='content'>
            <div id="banner1"></div>
            <div class="text-sm">
                <!--<div class="contentmargin"> <strong>名称:</strong>蜈支洲岛沙滩音乐节 嗨翻中秋</div>-->
                <div class="contentmargin"> <strong>名称:</strong>直播LIVE 南湖梦幻岛</div>
                <div class="contentmargin"> <strong>活动时间：</strong>9月15日-9月16日</div>
                <div class="contentmargin"> <strong>活动简介：</strong>三亚一年一度的音乐盛事——2016蜈支洲岛沙滩音乐节激爽来袭。这个中秋，一起来给青春加点料！</div>
                <div class="contentmargin"> <strong>9月15日</strong></div>
                <div class="contentmargin">15:00-15:40  荷尔蒙小姐</div>
                <div class="contentmargin">16:10-16:50 海龟先生</div>
                <div class="contentmargin">17:30-18:10 艾斯卡尔·灰狼</div>
                <div class="contentmargin">18:50-19:40 新裤子</div>
                <div class="contentmargin">20:30-21:30 谢天笑</div>
                <div class="contentmargin"> <strong>9月16日</strong></div>
                <div class="contentmargin">15:00-15:40 金志文</div>
                <div class="contentmargin">16:10-16:50 夜叉</div>
                <div class="contentmargin">17:30-18:10 陈粒</div>
                <div class="contentmargin">18:50-19:40 郝云</div>
                <div class="contentmargin">20:30-21:30 万能青年旅店</div>
            </div>
        </div>
    </body>
</html>  